<section class="BEM-carousel">
    <div class="BEM-carousel__image">
        <img src="../img/carousel/carousel-07.jpg" alt="Jurgen Klopp makes a sexy Liverpool"/>
    </div>
    <div class="BEM-carousel-content">
        <h1 class="BEM-carousel-content__title">Jurgen Klopp makes a sexy Liverpool</h1>
        <div class="BEM-carousel-content__description">
            Liverpool outcast Jose Enrique set to be handed lifeline by Jurgen Klopp
        </div>
    </div>
    <div class="BEM-carousel-navigation">
        <div class="BEM-carousel-navigation__arrow tools-arrow-left-red"></div>
        <div class="BEM-carousel-navigation__content">
            <span class="BEM-carousel-navigation__content_text">7/10</span>
            <span class="BEM-carousel-navigation__content_img tools-pie-black-07"></span>
        </div>
        <div class="BEM-carousel-navigation__arrow tools-arrow-right-red"></div>
    </div>
</section>