<section class="BEM-carousel">
    <div class="BEM-carousel__image">
        <img src="../img/carousel/carousel-07.jpg" alt="Jurgen Klopp makes a sexy Liverpool"/>
    </div>
    <div class="BEM-carousel-content">
        <h1 class="BEM-carousel-content__title">
            Jurgen Klopp makes a sexy Liverpool
        </h1>
        <div class="BEM-carousel-content__description">
            <span>Liverpool outcast Jose Enrique set to be handed lifeline by Jurgen Klopp</span>
        </div>
    </div>
    <div class="BEM-carousel-navigation">
        <div class="BEM-carousel-navigation__label"><!--
            --><span>7/10</span><!--
        --></div>
    </div>
</section>