<section class="carousel">
    <img src="../img/carousel/carousel-07.jpg" alt="Jurgen Klopp makes a sexy Liverpool">
    <div class="carousel-content">
        <h1 class="carousel-content__title">
            Jurgen Klopp makes a sexy Liverpool
        </h1>
        <div class="carousel-content__description">
            <span>Liverpool outcast Jose Enrique set to be handed lifeline by Jurgen Klopp</span>
        </div>
    </div>
    <div class="carousel-navigation">
        <span class="carousel-navigation__arrow carousel-navigation__arrow_left tools-arrow-left-red"></span>
        <div class="carousel-progress">
            <span class="carousel-progress__title">7/10</span><!--
            --><span class="carousel-progress__diagram tools-pie-black-07"></span>
        </div>
        <span class="carousel-navigation__arrow carousel-navigation__arrow_right tools-arrow-right-red"></span>
    </div>
</section>