<nav class="FE-navigation">
    <ul class="FE-navigation__container">
        <li class="FE-navigationItem">
            <a class="FE-navigationItem__link" href="/">Home</a>
        </li><!--
        --><li class="FE-navigationItem">
            <a class="FE-navigationItem__link" href="//github.com/stremann/front-end-automation">GitHub</a>
        </li><!--
        --><li class="FE-navigationItem">
            <a class="FE-navigationItem__link" href="//git.epam.com/roman_stremedlovskyi/js_mentoring_kyiv_2015">GitLab</a>
        </li><!--
        --><li class="FE-navigationItem">
            <a class="FE-navigationItem__link" href="./views/report/index.html">Report</a>
        </li>
    </ul>
</nav>