<nav class="navigation">
    <ul class="navigation__menu">
        <li class="navigation-item">
            <a class="navigation-item__link navigation-item_active" href="#">Hot themes</a>
        </li><!--
        --><li class="navigation-item">
            <a class="navigation-item__link" href="#">Euro 2016 Playoffs</a>
        </li><!--
        --><li class="navigation-item">
            <a class="navigation-item__link" href="#">El' Classico</a>
        </li>
    </ul>
</nav>