<nav class="BEM-navigation">
    <ul class="BEM-navigation__menu">
        <li class="BEM-navigation-item">
            <a class="BEM-navigation-item__link BEM-navigation-item_active" href="#">Hot themes</a>
        </li><!--
        --><li class="BEM-navigation-item">
            <a class="BEM-navigation-item__link" href="#">Euro 2016 Playoffs</a>
        </li><!--
        --><li class="BEM-navigation-item">
            <a class="BEM-navigation-item__link" href="#">El' Classico</a>
        </li>
    </ul>
</nav>