<nav class="navigation">
    <ul class="navigation-menu">
        <li class="navigation-menu-item">
            <a class="navigation-menu-item__link navigation-menu-item__link_active" href="#">Hot themes</a>
        </li><!--
        --><li class="navigation-menu-item">
            <a class="navigation-menu-item__link" href="#">Euro 2016 Playoffs</a>
        </li><!--
        --><li class="navigation-menu-item">
            <a class="navigation-menu-item__link" href="#">El' Classico</a>
        </li>
    </ul>
</nav>