<nav class="BEM-navigation">
    <div class="BEM-navigation__item BEM-navigation__item_active">
        <span>Hot themes</span>
    </div><!--
    --><div class="BEM-navigation__item">
        <span>Euro 2016 Playoffs</span>
    </div><!--
    --><div class="BEM-navigation__item">
        <span>El' Classico</span>
    </div>
</nav>