<section class="BEM-news">
    <% include ./partials/news-main.ejs %>
    <div class="BEM-news-extra">
        <div class="BEM-news-extra__content">
            <% include ./partials/news-last.ejs %>
            <% include ./partials/news-feed.ejs %>
        </div>
        <% include ./partials/news-photo.ejs %>
    </div>
</section>