<section class="news">
    <% include ./partials/news-main.ejs %>
    <div class="news-extra">
        <div class="news-extra-main">
            <% include ./partials/news-last.ejs %>
            <% include ./partials/news-feed.ejs %>
        </div>
        <aside class="news-extra-aside">
            <% include ./partials/news-photo.ejs %>
        </aside>
    </div>
</section>