<section class="BEM-carousel">
    <img src="../img/carousel/carousel-07.jpg" alt="Jurgen Klopp makes a sexy Liverpool"/>
    <div class="BEM-carousel-content">
        <h1 class="BEM-carousel-content__title">
            Jurgen Klopp makes a sexy Liverpool
        </h1>
        <div class="BEM-carousel-content__description">
            <span>Liverpool outcast Jose Enrique set to be handed lifeline by Jurgen Klopp</span>
        </div>
    </div>
    <div class="BEM-carousel-navigation">
        <span class="BEM-carousel-navigation__arrow BEM-carousel-navigation__arrow_left tools-arrow-left-red"></span>
        <div class="BEM-carousel-progress">
            <span class="BEM-carousel-progress__title">7/10</span><!--
            --><span class="BEM-carousel-progress__diagram tools-pie-black-07"></span>
        </div>
        <span class="BEM-carousel-navigation__arrow BEM-carousel-navigation__arrow_right tools-arrow-right-red"></span>
    </div>
</section>