<section class="carousel">
    <div class="carousel-image-wrapper">
        <img class="carousel-image"
             src="../img/carousel/carousel-07.jpg"
             alt="Jurgen Klopp makes a sexy Liverpool"
             role="img">
    </div>
    <div class="carousel-content">
        <h1 class="carousel-content__title">Jurgen Klopp makes a sexy Liverpool</h1>
        <div class="carousel-content__description">
            Liverpool outcast Jose Enrique set to be handed lifeline by Jurgen Klopp
        </div>
    </div>
    <div class="carousel-navigation"
         role="slider"
         aria-valuemin="1"
         aria-valuemax="10"
         aria-valuenow="7">
        <button class="carousel-navigation__button carousel-navigation__button_left tools-arrow-left-red"></button>
        <div class="carousel-progress-wrapper">
            <div class="carousel-progress">
                <div class="carousel-progress__title"><span>7</span>/10</div>
                <div class="carousel-progress__diagram tools-pie-black-07"></div>
            </div>
        </div>
        <button class="carousel-navigation__button carousel-navigation__button_right tools-arrow-right-red"></button>
    </div>
</section>