<nav class="BEM-navigation">
    <div class="BEM-navigation__item BEM-navigation__item_active">
        Hot themes
    </div><!--
    --><div class="BEM-navigation__item">
        Euro 2016 Playoffs
    </div><!--
    --><div class="BEM-navigation__item">
        El' Classico
    </div>
</nav>