<nav class="navigation"
     role="navigation">
    <ul class="navigation-menu"
        role="menubar">
        <li class="navigation-menu-item">
            <a class="navigation-menu-item__link navigation-menu-item__link_active"
               href="#"
               role="menuitem"
               aria-selected="true">Hot themes</a>
        </li><!--
        --><li class="navigation-menu-item">
            <a class="navigation-menu-item__link"
               href="#"
               role="menuitem"
               aria-selected="false">Euro 2016 Playoffs</a>
        </li><!--
        --><li class="navigation-menu-item">
            <a class="navigation-menu-item__link"
               href="#"
               role="menuitem"
               aria-selected="false">El' Classico</a>
        </li>
    </ul>
</nav>