<section class="BEM-news">
    <% include ./partials/news-main.ejs %>
    <% include ./partials/news-last.ejs %>
    <% include ./partials/news-feed.ejs %>
    <% include ./partials/news-photo.ejs %>
</section>