<section class="BEM-videos">
    <h2 class="BEM-videos__header">Videos</h2>
    <div class="BEM-videos__elements">
        <figure class="BEM-videos-item">
            <span class="BEM-videos-item__icon tools-btn-video-purple"></span>
            <img class="BEM-videos-item__image" src="./img/videos/videos-01.jpg" alt="TOP Goals of the Week"/>
            <figcaption class="BEM-videos-item__capture">TOP Goals of the Week</figcaption>
        </figure>
        <figure class="BEM-videos-item">
            <span class="BEM-videos-item__icon tools-btn-video-purple"></span>
            <img class="BEM-videos-item__image" src="./img/videos/videos-02.jpg" alt="The power of Neuer!"/>
            <figcaption class="BEM-videos-item__capture">The power of Neuer!</figcaption>
        </figure>
        <figure class="BEM-videos-item">
            <span class="BEM-videos-item__icon tools-btn-video-purple"></span>
            <img class="BEM-videos-item__image" src="./img/videos/videos-03.jpg" alt="The most intense of famous Kahn's saves"/>
            <figcaption class="BEM-videos-item__capture">The most intense of famous Kahn's saves</figcaption>
        </figure>
        <figure class="BEM-videos-item">
            <span class="BEM-videos-item__icon tools-btn-video-purple"></span>
            <img class="BEM-videos-item__image" src="./img/videos/videos-04.jpg" alt="Rooney just have beaten national record!"/>
            <figcaption class="BEM-videos-item__capture">Rooney just have beaten national record!</figcaption>
        </figure>
        <figure class="BEM-videos-item">
            <span class="BEM-videos-item__icon tools-btn-video-purple"></span>
            <img class="BEM-videos-item__image" src="./img/videos/videos-05.jpg" alt="Sir Alex Ferguson - the MU legend"/>
            <figcaption class="BEM-videos-item__capture">Sir Alex Ferguson - the MU legend</figcaption>
        </figure>
    </div>
    <a class="BEM-videos__extra" href="#">More videos</a>
</section>