<section class="videos">
    <h2 class="videos__header">Videos</h2>
    <ul class="videos-list"
        role="list">
        <li class="videos-list-item-wrapper"
            role="listitem">
            <figure class="videos-list-item">
                <button class="videos-list-item__button tools-btn-video-purple"></button>
                <div class="videos-list-item-image-wrapper">
                    <img class="videos-list-item-image"
                         src="./img/videos/videos-01.jpg"
                         alt="TOP Goals of the Week"
                         role="img">
                </div>
                <figcaption class="videos-list-item__capture">TOP Goals of the Week</figcaption>
            </figure>
        </li>
        <li class="videos-list-item-wrapper"
            role="listitem">
            <figure class="videos-list-item">
                <button class="videos-list-item__button tools-btn-video-purple"></button>
                <div class="videos-list-item-image-wrapper">
                <img class="videos-list-item-image"
                     src="./img/videos/videos-02.jpg"
                     alt="The power of Neuer!"
                     role="img">
                    </div>
                <figcaption class="videos-list-item__capture">The power of Neuer!</figcaption>
            </figure>
        </li>
        <li class="videos-list-item-wrapper"
            role="listitem">
            <figure class="videos-list-item">
                <button class="videos-list-item__button tools-btn-video-purple"></button>
                <div class="videos-list-item-image-wrapper">
                <img class="videos-list-item-image"
                     src="./img/videos/videos-03.jpg"
                     alt="The most intense of famous Kahn's saves"
                     role="img">
                    </div>
                <figcaption class="videos-list-item__capture">The most intense of famous Kahn's saves</figcaption>
            </figure>
        </li>
        <li class="videos-list-item-wrapper"
            role="listitem">
            <figure class="videos-list-item">
                <button class="videos-list-item__button tools-btn-video-purple"></button>
                <div class="videos-list-item-image-wrapper">
                <img class="videos-list-item-image"
                     src="./img/videos/videos-04.jpg"
                     alt="Rooney just have beaten national record!"
                     role="img">
                    </div>
                <figcaption class="videos-list-item__capture">Rooney just have beaten national record!</figcaption>
            </figure>
        </li>
        <li class="videos-list-item-wrapper">
            <figure class="videos-list-item">
                <button class="videos-list-item__button tools-btn-video-purple"></button>
                <div class="videos-list-item-image-wrapper">
                <img class="videos-list-item-image"
                     src="./img/videos/videos-05.jpg"
                     alt="Sir Alex Ferguson - the MU legend"
                     role="img">
                    </div>
                <figcaption class="videos-list-item__capture">Sir Alex Ferguson - the MU legend</figcaption>
            </figure>
        </li>
    </ul>
    <a class="videos__more" href="#">More videos</a>
</section>