<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/main.css">
    <title>Methodologies and Frameworks</title>
</head>
<body class="layout">
    <main class="layout__main">
        <% include ./views/navigation.ejs %>
        <% include ./views/carousel.ejs %>
        <% include ./views/news.ejs %>
    </main>
    <aside class="layout__aside">
        <% include ./views/videos.ejs %>
    </aside>
</body>
</html>