<div class="news-extra-list-wrapper">
    <h2 class="news-extra-list-header">
        <a class="news-extra-list-header__link" href="#">Newsfeed</a>
    </h2>
    <ul class="news-extra-list">
        <li class="news-extra-list-item news-extra-list-item_main">
            <figure class="news-extra-list-main-item">
                <img class="news-extra-list-main-item__image" src="./img/news-feed/news-feed.jpg" alt="Zlatan Ibrahimovic">
                <figcaption class="news-extra-list-main-item__capture">
                    Zlatan Ibrahimovic on target as Sweden qualify with draw in Denmark
                    <span class="news-extra-list-main-item__icon tools-btn-photo-black"></span>
                </figcaption>
            </figure>
        </li>
        <li class="news-extra-list-item">
            <a class="news-extra-list-item__link" href="#">Alvaro Morata insists Juventus are "still hungry" and targets victory over Milan on Saturday</a>
        </li>
        <li class="news-extra-list-item">
            <a class="news-extra-list-item__link" href="#">Ecuador stay perfect as Argentina, Brazil win</a>
            <span class="news-extra-list-item__icon tools-btn-video-black"></span>
        </li>
        <li class="news-extra-list-item">
            <a class="news-extra-list-item__link" href="#">Sweden, Ukraine complete Euro line-up</a><!--
            --><span class="news-extra-list-item__source">fifa.com</span>
        </li>
        <li class="news-extra-list-item">
            <a class="news-extra-list-item__link" href="#">Aubameyang penalty gives Gabon World Cup joy</a>
        </li>
    </ul>
</div>