<div class="BEM-news-main">
    <header class="BEM-news-header">
        <h2 class="BEM-news-header__title">Main News</h2>
        <div class="BEM-news-header__line BEM-news-header__line_black"></div>
    </header>
    <div class="BEM-news-main__content"></div>
</div>