<div class="BEM-news-feed">
    <h2 class="BEM-news-feed__header">
        <a class="BEM-news-header-link" href="#">Newsfeed</a>
    </h2>
    <figure class="BEM-news-feed-main">
        <img class="BEM-news-feed-main__image" src="./img/news-feed/news-feed.jpg" alt="Zlatan Ibrahimovic"/>
        <figcaption class="BEM-news-feed-main__capture">
            Zlatan Ibrahimovic on target as Sweden qualify with draw in Denmark
        </figcaption>
    </figure>
    <ul class="BEM-news-feed__list">
        <li class="BEM-news-list-item">
            <a class="BEM-news-list-item__link" href="#">Alvaro Morata insists Juventus are "still hungry" and targets victory over Milan on Saturday</a>
        </li>
        <li class="BEM-news-list-item">
            <a class="BEM-news-list-item__link" href="#">Ecuador stay perfect as Argentina, Brazil win</a>
        </li>
        <li class="BEM-news-list-item">
            <a class="BEM-news-list-item__link" href="#">Sweden, Ukraine complete Euro line-up</a>
        </li>
        <li class="BEM-news-list-item">
            <a class="BEM-news-list-item__link" href="#">Aubameyang penalty gives Gabon World Cup joy</a>
        </li>
    </ul>
</div>