<div class="news-extra-list-wrapper">
    <h2 class="news-extra-list-header">
        <a class="news-extra-list-header__link" href="#">Last News</a>
    </h2>
    <ul class="news-extra-list">
        <li class="news-extra-list-item">
            <a class="news-extra-list-item__link" href="#">Real Madrid players to gaffer: up and at'em!</a>
        </li>
        <li class="news-extra-list-item">
            <a class="news-extra-list-item__link" href="#">Swedes indebted to talismanic Ibrahimovic</a><!--
            --><span class="news-extra-list-item__source">marka.com</span>
        </li>
        <li class="news-extra-list-item">
            <a class="news-extra-list-item__link" href="#">2016 European Championship to go ahead in France</a>
        </li>
        <li class="news-extra-list-item">
            <a class="news-extra-list-item__link" href="#">Ancelotti: "Premier League return is my no. 1 choice"</a>
        </li>
        <li class="news-extra-list-item">
            <a class="news-extra-list-item__link" href="#">Walters double secures Euro 2016 spot for Ireland</a>
        </li>
        <li class="news-extra-list-item">
            <a class="news-extra-list-item__link" href="#">They intended to set off an explosive inside the stadium" - eyewitness</a>
        </li>
        <li class="news-extra-list-item">
            <a class="news-extra-list-item__link" href="#">Raul bids goodbye in style</a>
            <span class="news-extra-list-item__icon tools-btn-photo-black"></span>
            <span class="news-extra-list-item__icon tools-btn-video-black"></span>
        </li>
        <li class="news-extra-list-item">
            <a class="news-extra-list-item__link" href="#">Five reasons Belgium vs. Spain was called off</a>
        </li>
        <li class="news-extra-list-item">
            <a class="news-extra-list-item__link" href="#">Niggles won't keep Benzema out of 'Clasico'</a>
        </li>
        <li class="news-extra-list-item">
            <a class="news-extra-list-item__link" href="#">Abdeslam suspected to have been near King Baudouin Stadium</a>
        </li>
    </ul>
</div>