<ul class="news-extra-photo-list"
    role="list">
    <li class="news-extra-photo-item-wrapper"
        role="listitem">
        <figure class="news-extra-photo-item">
            <button class="news-extra-photo-item__button tools-btn-photo-red"></button>
            <img class="news-extra-photo-item__image"
                 src="./img/news-photo/news-photo-01.jpg"
                 alt="Champion trophy"
                 role="img">
            <figcaption class="news-extra-photo-item__capture">Here is how League Champions trophy looks like</figcaption>
        </figure>
    </li>
    <li class="news-extra-photo-item-wrapper"
        role="listitem">
        <figure class="news-extra-photo-item">
            <button class="news-extra-photo-item__button tools-btn-photo-red"></button>
            <img class="news-extra-photo-item__image"
                 src="./img/news-photo/news-photo-02.jpg"
                 alt="Casillas got piece of paper"
                 role="img">
            <figcaption class="news-extra-photo-item__capture">Casillas got some piece of paper</figcaption>
        </figure>
    </li>
    <li class="news-extra-photo-item-wrapper"
        role="listitem">
        <figure class="news-extra-photo-item">
            <button class="news-extra-photo-item__button tools-btn-photo-red"></button>
            <img class="news-extra-photo-item__image"
                 src="./img/news-photo/news-photo-03.jpg"
                 alt="Fangirls"
                 role="img">
            <figcaption class="news-extra-photo-item__capture">Bayern Munich vs Barcelona. Fangirls :)</figcaption>
        </figure>
    </li>
</ul>