<div class="news-main">
    <h2 class="news-main__header">Main News</h2>
    <div class="news-main__content">
        <figure class="news-main-item">
            <img class="news-main-item__image" src="./img/news-main/news-main-01.jpg" alt="The FIFA Balloon">
            <figcaption class="news-main-item__capture">
                The FIFA Ballon d'Or is an annual association football award given by FIFA
                <span class="news-main-item__icon news-main-item__icon_hidden tools-btn-photo-black"></span>
                <span class="news-main-item__icon news-main-item__icon_hidden tools-btn-video-black"></span>
            </figcaption>
        </figure>
        <figure class="news-main-item">
            <img class="news-main-item__image" src="./img/news-main/news-main-02.jpg" alt="Messi got some balloons">
            <figcaption class="news-main-item__capture">
                Messi got some baloons
                <span class="news-main-item__icon news-main-item__icon_hidden tools-btn-photo-black"></span>
                <span class="news-main-item__icon news-main-item__icon_hidden tools-btn-video-black"></span>
            </figcaption>
        </figure>
        <figure class="news-main-item">
            <img class="news-main-item__image" src="./img/news-main/news-main-03.jpg" alt="CR7 also got balloons">
            <figcaption class="news-main-item__capture">
                CR7 also have some balloons, but not so much
                <span class="news-main-item__icon news-main-item__icon_hidden tools-btn-photo-black"></span>
                <span class="news-main-item__icon news-main-item__icon_hidden tools-btn-video-black"></span>
            </figcaption>
        </figure>
        <figure class="news-main-item">
            <img class="news-main-item__image" src="./img/news-main/news-main-04.jpg" alt="Ribery got vase!">
            <figcaption class="news-main-item__capture">
                Ribery got vase!
                <span class="news-main-item__icon tools-btn-photo-black"></span>
                <span class="news-main-item__icon news-main-item__icon_hidden tools-btn-video-black"></span>
            </figcaption>
        </figure>
    </div>
</div>