<section class="FE-content__item FE-start">
    <h1 class="FE-start__title">EPAM</h1>
    <p class="FE-start__description">Get rid from smelly code and move to the next level</p>
    <a class="FE-btn FE-btn_black" href="http://www.epam.com/">Start Now</a>
</section>