<section class="FE-content__item FE-join">
    <h2 class="FE-join__title">Join EPAM</h2>
    <p class="FE-join__description">JavaScript Mentoring Program</p>
    <a class="FE-btn FE-btn_white" href="https://kb.epam.com/display/GDOKB/JS+Mentoring+program+Kyiv.2015-06">Learn more</a>
</section>