<section class="FE-content__item FE-move">
    <div class="FE-moveTitle">
        <span class="FE-moveTitle__item">Red.</span>
        <span class="FE-moveTitle__item">Green.</span>
        <span class="FE-moveTitle__item">Refactor.</span>
    </div>
</section>