<div class="BEM-news-feed">
    <header class="BEM-news-header">
        <h2 class="BEM-news-header__title">
            <a class="BEM-news-header__title_link" href="/">Newsfeed</a>
        </h2>
        <div class="BEM-news-header__line BEM-news-header__line_red"></div>
    </header>
</div>