<div class="news-main">
    <h2 class="news-main__header">Main News</h2>
    <ul class="news-main-list"
        role="list">
        <li class="news-main-list-item-wrapper"
            role="listitem">
            <figure class="news-main-list-item">
                <img class="news-main-list-item__image"
                     src="./img/news-main/news-main-01.jpg"
                     alt="The FIFA Balloon"
                     role="img">
                <figcaption class="news-main-list-item__capture">
                    The FIFA Ballon d'Or is an annual association football award given by FIFA
                </figcaption>
            </figure>
        </li>
        <li class="news-main-list-item-wrapper"
            role="listitem">
            <figure class="news-main-list-item">
                <img class="news-main-list-item__image"
                     src="./img/news-main/news-main-02.jpg"
                     alt="Messi got some balloons"
                     role="img">
                <figcaption class="news-main-list-item__capture">
                    Messi got some baloons
                </figcaption>
            </figure>
        </li>
        <li class="news-main-list-item-wrapper"
            role="listitem">
            <figure class="news-main-list-item">
                <img class="news-main-list-item__image"
                     src="./img/news-main/news-main-03.jpg"
                     alt="CR7 also got balloons"
                     role="img">
                <figcaption class="news-main-list-item__capture">
                    CR7 also have some balloons, but not so much
                </figcaption>
            </figure>
        </li>
        <li class="news-main-list-item-wrapper"
            role="listitem">
            <figure class="news-main-list-item">
                <img class="news-main-list-item__image"
                     src="./img/news-main/news-main-04.jpg"
                     alt="Ribery got vase!"
                     role="img">
                <figcaption class="news-main-list-item__capture">
                    Ribery got vase!
                    <button class="news-main-list-item__button tools-btn-photo-black"></button>
                </figcaption>
            </figure>
        </li>
    </ul>
</div>