<div class="BEM-news-last">
    <h2 class="BEM-news-last__header">
        <a class="BEM-news-last__link" href="#">Last News</a>
    </h2>
    <ul class="BEM-news-last__list">
        <li class="BEM-news-last-item">
            <a class="BEM-news-last-item__link" href="#">Real Madrid players to gaffer: up and at'em!</a>
        </li>
        <li class="BEM-news-last-item">
            <a class="BEM-news-last-item__link" href="#">Swedes indebted to talismanic Ibrahimovic</a>
        </li>
        <li class="BEM-news-last-item">
            <a class="BEM-news-last-item__link" href="#">2016 European Championship to go ahead in France</a>
        </li>
        <li class="BEM-news-last-item">
            <a class="BEM-news-last-item__link" href="#">Ancelotti: "Premier League return is my no. 1 choice"</a>
        </li>
        <li class="BEM-news-last-item">
            <a class="BEM-news-last-item__link" href="#">Walters double secures Euro 2016 spot for Ireland</a>
        </li>
        <li class="BEM-news-last-item">
            <a class="BEM-news-last-item__link" href="#">They intended to set off an explosive inside the stadium" - eyewitness</a>
        </li>
        <li class="BEM-news-last-item">
            <a class="BEM-news-last-item__link" href="#">Ra?l bids goodbye in style</a>
        </li>
        <li class="BEM-news-last-item">
            <a class="BEM-news-last-item__link" href="#">Five reasons Belgium vs. Spain was called off</a>
        </li>
        <li class="BEM-news-last-item">
            <a class="BEM-news-last-item__link" href="#">Niggles won't keep Benzema out of 'Cl?sico'</a>
        </li>
        <li class="BEM-news-last-item">
            <a class="BEM-news-last-item__link" href="#">Abdeslam suspected to have been near King Baudouin Stadium</a>
        </li>
    </ul>
</div>