<div class="news-extra-list-wrapper">
    <h2 class="news-extra-list-header">
        <a class="news-extra-list-header__link"
           href="#">
            Newsfeed
        </a>
    </h2>
    <ul class="news-extra-list"
        role="list">
        <li class="news-extra-list-item news-extra-list-item_main"
            role="listitem">
            <figure class="news-extra-list-item-main">
                <div class="news-extra-list-item-main-image-wrapper">
                <img class="news-extra-list-item-main-image"
                     src="./img/news-feed/news-feed.jpg"
                     alt="Zlatan Ibrahimovic"
                     role="img">
                </div>
                <figcaption class="news-extra-list-item-main__capture">
                    Zlatan Ibrahimovic on target as Sweden qualify with draw in Denmark
                    <button class="news-extra-list-item-main__button tools-btn-photo-black"></button>
                </figcaption>
            </figure>
        </li>
        <li class="news-extra-list-item"
            role="listitem">
            <a class="news-extra-list-item__link"
               href="#">
                Alvaro Morata insists Juventus are "still hungry" and targets victory over Milan on Saturday
            </a>
        </li>
        <li class="news-extra-list-item"
            role="listitem">
            <a class="news-extra-list-item__link"
               href="#">
                Ecuador stay perfect as Argentina, Brazil win
            </a>
            <button class="news-extra-list-item__button tools-btn-video-black"></button>
        </li>
        <li class="news-extra-list-item"
            role="listitem">
            <a class="news-extra-list-item__link"
               href="#">
                Sweden, Ukraine complete Euro line-up
            </a><!--
            --><span class="news-extra-list-item__source"
                     role="link">fifa.com</span>
        </li>
        <li class="news-extra-list-item"
            role="listitem">
            <a class="news-extra-list-item__link"
               href="#">
                Aubameyang penalty gives Gabon World Cup joy
            </a>
        </li>
    </ul>
</div>