<aside class="BEM-news-photo">
    <figure class="BEM-news-photo-item">
        <span class="BEM-news-photo-item__icon tools-btn-photo-red"></span>
        <img class="BEM-news-photo-item__image" src="./img/news-photo/news-photo-01.jpg" alt="Champion trophy"/>
        <figcaption class="BEM-news-photo-item__capture">Here is how League Champions trophy looks like</figcaption>
    </figure>
    <figure class="BEM-news-photo-item">
        <span class="BEM-news-photo-item__icon tools-btn-photo-red"></span>
        <img class="BEM-news-photo-item__image" src="./img/news-photo/news-photo-02.jpg" alt="Casillas got piece of paper"/>
        <figcaption class="BEM-news-photo-item__capture">Casillas got some piece of paper</figcaption>
    </figure>
    <figure class="BEM-news-photo-item">
        <span class="BEM-news-photo-item__icon tools-btn-photo-red"></span>
        <img class="BEM-news-photo-item__image" src="./img/news-photo/news-photo-03.jpg" alt="Fangirls"/>
        <figcaption class="BEM-news-photo-item__capture">Bayern Munich vs Barcelona. Fangirls :)</figcaption>
    </figure>
</aside>