<section class="FE-content__item FE-stack">
    <div class="FE-stackItem">
        <h2 class="FE-stackItem__title">Grunt</h2>
        <p class="FE-stackItem__description">The JavaScript Task Runner</p>
    </div>
    <div class="FE-stackItem">
        <h2 class="FE-stackItem__title">Karma</h2>
        <p class="FE-stackItem__description">Spectacular Test Runner for JavaScript</p>
    </div>
    <div class="FE-stackItem">
        <h2 class="FE-stackItem__title">Node.js</h2>
        <p class="FE-stackItem__description">Runtime env for developing server-side web apps</p>
    </div>
    <div class="FE-stackItem">
        <h2 class="FE-stackItem__title">NPM</h2>
        <p class="FE-stackItem__description">The Node Package Manager</p>
    </div>
    <div class="FE-stackItem">
        <h2 class="FE-stackItem__title">Bower</h2>
        <p class="FE-stackItem__description">A package manager for the web</p>
    </div>
    <div class="FE-stackItem">
        <h2 class="FE-stackItem__title">Sass</h2>
        <p class="FE-stackItem__description">CSS with superpowers</p>
    </div>
    <div class="FE-stackItem">
        <h2 class="FE-stackItem__title">jQuery</h2>
        <p class="FE-stackItem__description">The fast, small, and feature-rich JavaScript library</p>
    </div>
    <div class="FE-stackItem">
        <h2 class="FE-stackItem__title">Breakpoint</h2>
        <p class="FE-stackItem__description">Really Simple, Organized, Media Queries with Sass</p>
    </div>
    <div class="FE-stackItem">
        <h2 class="FE-stackItem__title">Express</h2>
        <p class="FE-stackItem__description">Fast, unopinionated, minimalist web framework for Node.js</p>
    </div>
    <div class="FE-stackItem">
        <h2 class="FE-stackItem__title">EJS</h2>
        <p class="FE-stackItem__description">Embedded JavaScript Template library</p>
    </div>
    <div class="FE-stackItem">
        <h2 class="FE-stackItem__title">Jasmine</h2>
        <p class="FE-stackItem__description">DOM-less simple JavaScript testing framework</p>
    </div>
    <div class="FE-stackItem">
        <h2 class="FE-stackItem__title">Sinon.js</h2>
        <p class="FE-stackItem__description">Standalone JavaScript library for spies, stubs and mocks</p>
    </div>
    <div class="FE-stackItem">
        <h2 class="FE-stackItem__title">Travis-CI</h2>
        <p class="FE-stackItem__description">Continuous integration service used to build and test</p>
    </div>
    <div class="FE-stackItem">
        <h2 class="FE-stackItem__title">Heroku</h2>
        <p class="FE-stackItem__description">The cloud platform as a service</p>
    </div>
</section>